name: Deploy Pages CMS
on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
#    defaults:
#       run:
#         working-directory: app/
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: 'package-lock.json'

      - name: Install Netlify
        run: npm install netlify-cli@23.5.1 -g

      - name: Cache Node Modules
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci
        
      - name: Build project
        run: npm run build
        
      - name: Deploy to Netlify
        id: netlify_deploy
        run: |
          netlify deploy \
            --dir .next \
            --site ${{ secrets.NETLIFY_PAGES_CMS_ID }} \
            --auth ${{ secrets.NETLIFY_API_TOKEN }} \
            --message "Draft deployment from GitHub Action - still unpublished"

      - name: Log to Better Stack
        run: |
          curl -X POST https://${{ secrets.INGESTING_HOST }} \
               -H "Authorization: Bearer ${{ secrets.LOG_SOURCE_TOKEN }}" \
               -H "Content-Type: application/json" \
               -d '{"message":"PAGES CMS deploy pushed to Github and Netlify", "source":"Github Action", "level":"info", "script":"Deploy PagesCMS" }'

# source: https://www.raulmelo.me/en/blog/deploying-netlify-github-actions-guide
# other source: https://awesome.red-badger.com/ruiramos/nextjs-deployment-on-netify-wth-github-actions
